<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.login}">Login</title>
    <meta charset="UTF-8">
</head>
<body>

<h2 th:text="#{title.login}">Login</h2>

<form action="#" th:action="@{/login}" method="post">
    <label th:text="#{label.username}">Username:</label>
    <input type="text" name="username" required/><br/>

    <label th:text="#{label.password}">Password:</label>
    <input type="password" name="password" required/><br/>

    <button type="submit" th:text="#{button.login}">Login</button>
</form>

<p th:if="${errorKey}" th:text="#{${errorKey}}" style="color:red;"></p>

<a th:href="@{/register}" th:text="#{link.register}">Don't have an account? Register here</a>

<!-- Языки -->
<br><br>
<a th:href="@{/login(lang='en')}">EN</a> |
<a th:href="@{/login(lang='ru')}">RU</a>

</body>
</html>
